<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<add key="preencherListaStrings" value="false"/>

		<add key="valor0" value="Zero"/>
		<add key="valor1" value="Um"/>
		<add key="valor2" value="Dois"/>
		<add key="valor3" value="Três"/>
		<add key="valor4" value="Quatro"/>
		
	</appSettings>
</configuration>